* {
  box-sizing: border-box;
  color: inherit;
  font-family: "Roboto";

  margin: 0;
  padding: 0;
}

html, body {
  background: black;
  height: 100%;
  width: 100%;
}

ul {
  list-style: none
}

a:hover {
  color: #FF0024;
}
