.page {
  padding: 20px 0;
  width: 100%;
}

#page--head {
  background: #D84315;
  color: white;
  padding: 25px 0 70px;
  height: 100%;
}

.section {
  margin: 0 auto;
  width: 1000px;
}

.page__title {
  font-size: 32px;
  padding: 40px 0;
  text-align: left;
}


#section--nav {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

#title {
  font-size: 32px;
  flex-basis: 1000px;
}

#nav__list {
  display: flex;
  flex-direction: row;
}

.nav__list {
  font-size: 20px;
  margin: 0 10px;
}

#head__tag {
  font-size: 64px;
  padding: 200px 0;
  text-align: center;
}

#page--foot {
  background: #2A333B;
  color: white;
}

#section--foot {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.icon {
  font-size: 36px;
  margin: 15px;
}

.page--work {
  background: white;
}

.project {
  color: #222222;
  margin: 40px 0;
  padding: 25px 0;
}

.project__title {
  /*
  color: #D84315;
  */
  color: #33333;
  font-size: 20px;
  padding: 10px 0;
}

.page--services {
  background: #2A333B;
  color: white;
}

.page--about {
  background: #2A333B;
  color: white;
}
