.page {
  width: 100%;
}

#page--head {
  padding: 25px 0 70px;
}

.section {
  margin: 0 auto;
  width: 1000px;
}


#section--nav {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

#title {
  font-size: 32px;
  flex-basis: 1000px;
}

#nav__list {
  display: flex;
  flex-direction: row;
}

.nav__list {
  font-size: 20px;
  margin: 0 10px;
}

#page--foot {
  background: #2A333B;
  /*bottom: 0px;
  position: absolute;*/
}

#section--foot {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.icon {
  font-size: 36px;
  margin: 15px;
}

.project {
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 15px #982F0F;
  color: #222222;
  margin: 40px 0;
  padding: 25px;
}
