.head {
  margin: 0 auto;
  padding: 40px 0;
  width: 1000px;
}

.head__title {
  color: #FF0024;
}

.head__tag {
  color: white;
  font-size: 104px;
  margin: 240px 0;
  text-align: center;
  text-transform: uppercase;
}


.foot {
  border-top: #111111 solid 1px;
  bottom: 0;
  color: white;
  font-size: 28px;
  padding: 15px;
  position: absolute;
  width: 100%;
}


.foot__list {
  margin: 0 auto;
  text-align: center;
  width: 1000px;
}

.foot__item {
  display: inline-block;
  margin: 0 15px;
}
