* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

p {
  visibility: hidden;
  margin-top: 8px;
  position: relative;
  width: max-content;
  white-space: nowrap;

  animation: show 1s 1;
  animation-fill-mode: forwards;
}

p:first-of-type {
  margin-top: 16px;
}

p::after {
  visibility: visible;
  content: '';
  height: 24px;
  width: 0;
  background-color: black;
  position: absolute;
  left: -4px;

  animation: reveal 1s 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

a {
  color: inherit;
  padding: 2px;
  margin: -2px;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  background: white;
  color: #000;
}

main {
  margin: 208px 32px 32px;
}

.delay, .delay::after {
  animation-delay: 0.7s;
}

@keyframes show {
  50% {
    visibility: hidden;
  }
  51% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes reveal {
  50% {
    left: -4px;
    right: unset;
    width: calc(100% + 8px);
  }

  51% {
    left: unset;
    right: -4px;
  }

  100% {
    left: unset;
    right: -4px;
    width: 0;
  }
}

@media screen and (min-width: 800px) {
  main {
    margin: 208px 220px 32px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background: black;
    color: white;
  }
  p::after {
    background: white;
  }
}
