* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

h1,
p {
  visibility: hidden;
  position: relative;
  width: max-content;
  white-space: nowrap;

  animation: show 1s 1;
  animation-fill-mode: forwards;
}

p::after,
h1::after {
  visibility: visible;
  content: "";
  width: 0;
  background-color: black;
  position: absolute;
  left: -4px;
  bottom: 0;

  animation: reveal 1s 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

p {
  margin-top: 8px;
}

p:first-of-type {
  margin-top: 16px;
}

h1::after {
  height: 40px;
}

p::after {
  height: 24px;
}

a {
  color: inherit;
  padding: 2px;
  margin: -2px;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  background: black;
  color: white;
}

main {
  margin: 208px 32px 32px;
}

h1,
h1::after {
  animation-delay: 0.1s;
}

.delay,
.delay::after {
  animation-delay: 0.7s;
}

.delay-2,
.delay-2::after {
  animation-delay: 1.4s;
}

@keyframes show {
  50% {
    visibility: hidden;
  }
  51% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes reveal {
  50% {
    left: -4px;
    right: unset;
    width: calc(100% + 8px);
  }

  51% {
    left: unset;
    right: -4px;
  }

  100% {
    left: unset;
    right: -4px;
    width: 0;
  }
}

@media screen and (min-width: 800px) {
  main {
    margin: 208px 220px 32px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background: black;
    color: white;
  }
  p::after,
  h1::after {
    background: white;
  }
  a:hover,
  a:active,
  a:focus {
    background: white;
    color: black;
  }
}
